@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumPenScript";
  font-weight: 400;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/NanumPenScript.woff2") format("woff2");
}

.backdrop-blur {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.backdrop-blur-nav {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  @apply mr-8 inline-block w-4 text-right text-gray-600;
}
.mask {
  mask-image: radial-gradient(rgba(0, 0, 0, 1) 0%, transparent 80%);
}

a {
  @apply scroll-my-24 decoration-gray-400 transition-all;
}

.anchor-link {
  @apply invisible absolute -ml-4 w-3/4 max-w-2xl cursor-pointer pr-2 no-underline;
}

.anchor-link:hover {
  @apply visible;
}

.anchor-link:after {
  @apply text-gray-400 dark:text-gray-600;
  content: "#";
}

*:hover > .anchor-link {
  @apply visible;
}

::view-transition-group(root) {
  animation-timing-function: var(--expo-in);
}

::view-transition-new(root) {
  mask: url('/images/i-love-you-love.gif') center / 0 no-repeat;
  animation: scale 1.5s;
  animation-fill-mode: both;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: scale 1.5s;
  animation-fill-mode: both;
}

@keyframes scale {
  0% {
    mask-size: 0;
  }
  10% {
    mask-size: 50vmax;
  }
  90% {
    mask-size: 50vmax;
  }
  100% {
    mask-size: 2000vmax;
  }
}


/* View Transition styles for theme toggle animation */
/*::view-transition-old(root),*/
/*::view-transition-new(root) {*/
/*  animation: none;*/
/*  mix-blend-mode: normal;*/
/*}*/

/*::view-transition-old(root) {*/
/*  z-index: 1;*/
/*}*/

/*::view-transition-new(root) {*/
/*  z-index: 9999;*/
/*}*/
